=provide(:title, 'Over de site')
%h1 Over de site
%p<
  Een mini site met wat info over een aantal recepten die ik graag bereid en niet meer wil vergeten.
  Aangezien iedereen zich gratis kunnen inschrijven hoop ik dat anderen het ook gaan gebruiken voor het toevoegen van hun favoriete recepten.
%p Heb je vragen of positieve feedback? Neem dan #{ link_to 'contact', contact_path } met me op.