=provide(:title, 'Home')
.center.hero-unit
  %h1 Recepten App
  %p Welkom op mijn recepten site.
  =link_to 'Lid worden', signup_path, class: 'btn btn-large btn-primary'
.powered
  Download src on github:
  =link_to image_tag('github.png', alt: 'Github', size: '24'), 'https://github.com/acidjunk/recipe'