=provide(:title, 'Home')
- if signed_in?
  .row
    %aside.span4
      %section
        =render 'shared/user_info'
      %section
        = render 'shared/stats'
      - if @micropost.nil? || @micropost.errors.empty?
        %section
          =render 'shared/recipe_form'
      - if @recipe.nil? || @recipe.errors.empty?
        %section
          =render 'shared/micropost_form'
    .span8
      %h3 Feed
      = render 'shared/feed'
- else
  .center.hero-unit
    %h1 Recepten App
    %p Welkom op mijn recepten site.
    =link_to 'Lid worden', signup_path, class: 'btn btn-large btn-primary'
  .powered
    Download src on github:
    =link_to image_tag('github.png', alt: 'Github', size: '24'), 'https://github.com/acidjunk/recipe'