%li
  %div.recipe_name= recipe.name
  -#= image_tag recipe.picture.url
  - if recipe.picture?
    = image_tag recipe.picture.url(:medium)
  -#= image_tag recipe.picture.url(:thumb)
  %span.content= raw(recipe.content)
  %span.timestamp<
    #{ time_ago_in_words(recipe.created_at) } geleden geplaats.
  - if current_user?(recipe.user)
    =link_to 'delete', recipe, method: :delete, data: { confirm: 'Weet je het zeker?' }, title: recipe.name


