%h3 Nieuw bericht
= form_for(@micropost) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    =f.text_area :content, placeholder: 'Tik hier je bericht...'
  =f.submit('Plaats bericht', class:'btn btn-large btn-primary')

