%h3 Add micropost
= form_for(@micropost) do |g|
  = render 'shared/error_messages', object: g.object
  .field
    =g.text_area :content, placeholder: 'Compose new micropost...'
  =g.submit('Post micropost', class:'btn btn-large btn-primary')

